<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campsights</title>
</head>
<body>
    <h1>Campsights</h1>
    <a href="/campgrounds">See the campgrounds</a>
</body>
</html>