
<%- include("partials/header") %>


  <main id="home-bkg">
    <h2 id="welcome">Welcome to Campsights </h2>
    <div id="intro">
      <h4>Here you can add your favorite campgrounds and see where others like to go.  We believe its all about being out and close to beautiful sights.</h4>
      <h4>Take a look and add any places that you enjoy visiting!</h4>

    </div>


  </main>

  <%- include('partials/footer') %>



  
  
  
  
