<%- include("partials/header") %>

<main id="home-bkg">
  <h2 id="welcome">Welcome to Campsights! </h2>
  <div id="intro">
    <h5>Here you can add your favorite camping spots, describe what makes them special and see where others like to go. Take a look and add any places that you enjoy visiting! Log in and get started!

    </h5>

  </div>


</main>

<!-- <footer class="green darken-4">
  <p>&copy; 2021 Campsights</p>
  <a class="art-credit" target="_blank" href="https://www.vecteezy.com/free-vector/camping-tent">Camping Tent Vectors by Vecteezy</a>
</footer> -->

<%- include("partials/footer") %>

</html>
</body>