<%- include("partials/header") %>


<main id="home-bkg">
  <h2 id="welcome">Welcome to Campsights </h2>
  <div id="intro">
    <h5>Here you can add your favorite camping spots, describe what makes them special and see where others like to go.
    </h5>
    <h5>Take a look and add any places that you enjoy visiting!</h5>

  </div>


</main>

<%- include('partials/footer') %>