
<%- include('../partials/header') %>

  <header class="container" id="new">
    <h2>Add a campground!</h2>

    <form action="/campgrounds" method="post">
      <label for="">Campground Name</label>
    <input type="text" name ="cgName" required>
    <label for="">Location</label>
    <input type="text" name="location" required>
    <label for="">URL to image of campground</label>
    <input type="text" name="imageURL">
    <label for="details">Details</label>
    <textarea name="details" id="details" cols="30" rows="10" required></textarea>
    <!-- <input type="submit" value="Add Campground"> -->
    <button type="submit">Add Campground</button>


    </form>
    </header>
    
    
<%- include('../partials/footer') %>